OPEN_ROUTER_URL=
OPEN_ROUTER_API_KEY=
OPEN_ROUTER_LLM_MODEL=
OPEN_ROUTER_SLM_MODEL=

REDIS_PASSWORD=change_me
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001
REDIS_SAVER_CONNECTION_STRING=redis://:change_me@127.0.0.1:6379/0

LANGFUSE_ENABLED=true
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
LANGFUSE_ENVIRONMENT=development
