OPEN_ROUTER_URL=
OPEN_ROUTER_API_KEY=
OPEN_ROUTER_LLM_MODEL=
OPEN_ROUTER_SLM_MODEL=

LANGFUSE_ENABLED=true
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
LANGFUSE_ENVIRONMENT=development
